body {
  background-color: #fff;
  font-family: Helvetica Neue, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  margin-top: 10px;
  margin-left: 20px;
}

a {
  color: #3575D0;
}

a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1, label, .digg-count p {
  font: 16px/24px "Museo 300", Helvetica, Arial, sans-serif;
}

p, div {
  margin:0;
  padding:0;
}

h1 {
  font-size: 2.5em;
  padding-top: 15px;
  text-transform: uppercase;
}

li p {
  font-size: 13px;
}

ul {
  list-style: none;
  margin-top: -10px;
}

.tigris-item-wrapper {
  border-bottom: 1px solid #ccc;
  display:block;
  overflow:auto;
  padding: 10px 0 5px 0;
}

.tigris-user {
  margin-top: 10px;
  float: left;
  width: 90px;
  overflow: none;
  margin-bottom: 20px;
}

.tigris-item {
  margin-top: 10px;
}

.desc {
  margin-top:3px;
  line-height: 16px;
  width: 400px;
}

.activity {
  font-size:.9em;
}

.digg-count {
  background-color: #fff8ce;
  float: left;
  width: 70px;
  padding:10px 0;
}

.digg-count p{
  font-size: 2em;
  margin-top: 5px;
  text-align: center;
}

.title-description {
  padding-left: 90px;
}

p.user {
  margin: 0;
  padding: 0;
  font-size:12px;
}

#filter-container {
  float: left;
  width: 200px;
}

#content-container {
  padding-left: 170px;
  width: 700px;
}

.filter {
  display: block;
  margin-bottom:30px;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}

.title {
  font-size:1.10em;
  font-weight: bold;
}

a.digg-link {
  font-size:11px;
}

.hovered {
  background-color: #BED6EC;
}