body {
  background-color: #fff;
  font: 16px/24px "Museo 300", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  margin-top: 10px;
  margin-left: 20px;
}

p,div {
    margin:0;
    padding:0;
}

h1 {
  padding-top: 15px;
  text-transform: uppercase;
}

li p {
  font-size: 13px;
}

ul {
  list-style: none;
}

.tigris-item-wrapper {
  border-bottom: 1px solid #ccc;
  display:block;
  overflow:auto;
  padding: 10px 0 10px 0;
}

.tigris-user {
  margin-top: 10px;
  float: left;
  width: 90px;
  overflow: none;
  margin-bottom: 20px;
}

.tigris-item {
  margin-top: 10px;
  width: 500px;
}

.desc {
    line-height: 16px;
}

.activity {
    display:block;
    text-align: center;
}
.digg-count {
    float: left;
    width: 70px;
}

.digg-count p{
    font-size: 2em;
    margin-top: 5px;
}

.title-description {
    padding-left: 70px;
}

p.user {
  margin: 0;
  padding: 0;
  font-size:12px;
}

#filter-container {
  float:left;
  width: 200px;
}

#content-container {
  padding-left: 170px;
  width: 700px;
}

.filter {
  display: block;
  margin-bottom:30px;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}

span.title {
  font-weight: bold;
}

a.digg-link {
  font-size:11px;
}

.hovered {
  background-color: #DDF;
}