body {
  background-color: #fff;
  font: 16px/24px "Museo 300", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  margin-top: 0px;
}

h1 {
  padding-top: 15px;
  text-transform: uppercase;
}

li p {
  font-size: 13px;
}

ul {
  list-style: none;
}

.tigris-item {
  border-bottom: 1px solid #ccc;
}

#filter-container {
  float:left;
  width: 200px;
}

.filter {
  display: block;
  padding-bottom:10px;
  margin-bottom:30px;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}

#content-container {
  padding-left: 170px;
  width: 600px;
}